---
import Layout from "../layouts/Layout.astro";
---

<body>
  <Layout title="Meu Blog de Aprendizado sobre Astro">
    <main class="md:w-[900px] md:text-[24px]">
      <h1>Todos os posts</h1>
      <p>As postagens foram divididas em tópicos para uma melhor navegação:</p>
      <ul class="list-disc pl-4">
        <li><a href="/posts/post-1/">Postagem 1</a></li>
        <li>
          <a href="/posts/post-2/">Review de Filmes</a>
          <ul class="list-disc pl-4">
            <li>
              <a
                href="/posts/movie-review/eternal-sunshine-of-the-spotless-mind_2004/"
                >Eternal Sunshine of the Spotless Mind (O Brilho Eterno de uma
                Mente sem Lembranças) - 2004</a>
            </li>
            <li>
              <a
                href="/posts/movie-review/sorcerer-1977/"
                >Sorcerer (O Comboio do Medo) - 1977</a>
            </li>
          </ul>
        </li>
        <!-- <li><a href="/posts/post-3/">Postagem 3</a></li> -->
      </ul>
    </main>
  </Layout>
</body>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }
  p {
    margin-bottom: 1rem;
    text-align: justify;
  }
  a:hover {
    text-decoration:underline;
    font-weight:500;
    
  }
</style>
