---
import Layout from "../layouts/Layout.astro";
---

<body>
  <Layout title="Meu Blog de Aprendizado sobre Astro">
    <main class="md:w-[900px] md:text-[24px]">
      <h1>Todos os posts</h1>
      <p>As postagens foram divididas em tópicos para uma melhor navegação:</p>
      <ul class="list-disc pl-4">
        <span>Tecnologia</span>
        <ul class="list-disc pl-4">
          <li>
            <a class="text-gray-400" href="#"
              >Como sincronizar arquivos entre o celular o PC com o Syncthing</a
            >
          </li>
          <li>
            <a class="text-gray-400" href="#"
              >I use nix btw: o S.O. Linux mais frustrante que já utilizei</a
            >
          </li>
        </ul>
        <hr class="my-8" />
        <li>
          <span>Review de Filmes</span>
          <ul class="list-disc pl-4">
            <li>
              <a href="/posts/movie-review/sorcerer-1977/"
                >Sorcerer (O Comboio do Medo) - 1977</a
              >
            </li>
            <li>
              <a class="text-gray-400" href="#"
                >Em breve: Eternal Sunshine of the Spotless Mind (O Brilho
                Eterno de uma Mente sem Lembranças) - 2004</a
              >
            </li>
          </ul>
        </li>
        <!-- <li><a href="/posts/post-3/">Postagem 3</a></li> -->
      </ul>
    </main>
  </Layout>
</body>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }
  p {
    margin-bottom: 1rem;
    text-align: justify;
  }
  a:hover {
    text-decoration: underline;
    font-weight: 500;
  }
</style>
