---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BlogPost from "../components/BlogPost.astro";
import MainAside from "../components/MainAside.astro";
import AboutMeWidget from "../components/AboutMeWidget.astro";
import DiscordServerBtn from "../components/DiscordServerBtn.astro";

const pageTitle = "Seja bem-vindo ao blog AN";
---

<Layout title="Welcome to Astro.">
  <main class="text-justify lg:flex justify-center lg:space-x-24">
    <MainAside classes=" lg:hidden block" />
    <div class="lg:w-[800px]">
      <h1>{pageTitle}</h1>
      <span>Tecnologia, cinema e cultura pop!</span>
      <BlogPost
        title="Sorcerer, um clássico adaptado pela Netflix"
        img_alt="Pôster do filme: Sorcerer - 1977"
        img_src_desktop="https://i.pinimg.com/736x/0b/be/86/0bbe8613a64afc8f51d19594be2e0fef.jpg"
        img_src_mobile="https://i.pinimg.com/originals/b3/73/8e/b3738e44cc5f75a367948dd1e66e11e6.jpg"
        post_link="/posts/movie-review/sorcerer-1977"
        autor="Redação"
        date="01/04/2024"
        tags={["review", "netflix", "clássicos", "tensão"]}
      />

      <BlogPost
        title="Como sincronizar arquivos entre e o celular o PC com o Syncthing"
        img_alt="Interface do syncthing"
        img_src_desktop="https://i.pinimg.com/736x/bc/a6/72/bca672148681b351afb7e45ae60c197e.jpg"
        img_src_mobile="https://i.pinimg.com/736x/2a/16/f8/2a16f85502bdb6222d309005ff183ff0.jpg"
        post_link="/syncthing"
        autor="Redação"
        date="01/04/2024"
        tags={["tecnologia", "aplicativos", "celular", "linux"]}
      />

      <BlogPost
        title="Uma metáfora para os relacionamentos e para a vida..."
        img_alt="Pôster do filme: O brilho eterno de uma mente sem lembranças"
        img_src_desktop="https://i.pinimg.com/736x/cd/37/d2/cd37d2e4f360affbaddadfb88e9e3979.jpg"
        img_src_mobile="https://i.pinimg.com/736x/33/aa/c0/33aac0cba6f1e48f56b1b6d119d56f72.jpg"
        post_link="/eternal-sunshine"
        autor="Redação"
        date="01/04/2024"
        tags={["review", "romance", "clássicos", "filosofia"]}
      />
    </div>
    <MainAside classes="hidden lg:block" />
    <div class=" mt-7 border border-white rounded p-7 lg:hidden block">
      <AboutMeWidget classes="text-[19px]"  />
    </div>
    <div class="mt-12 lg:hidden block text-xl">
      <DiscordServerBtn title="Entre no meu servidor no Discord!" classes="w-full"/>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
