---
interface props {
    classes: string;
    marginTop: string;
}

const { classes,marginTop } = Astro.props;
---
<div class:list={[marginTop || '']} >
    <span class="text-[25px]">Sobre mim:</span>
    <p class=`${classes}`>
      Acredito que a tecnologia pode tornar o mundo um lugar melhor (ou torná-lo
      uma grande distopia cyberpunk). Defendemos o uso do software livre e de
      código aberto, de forma pragmática, para trazer liberdade aos usuários e
      reduzir custos para empresas e governos. As matérias e artigos publicados
      aqui são parte de um estudo de seu criador com o intuito de melhorar as
      skills de escrita (português e inglês), argumentação e uma forma de
      aprofundar os conhecimentos em programação e em outras áreas.
    </p>
  </div>