---
import AboutMeWidget from "./AboutMeWidget.astro";
import DiscordServerBtn from "./DiscordServerBtn.astro";
interface Props {
  classes: string;
}

const { classes = "" } = Astro.props;
---

<aside
  class=` lg:h-screen lg:sticky lg:top-9 mb-12 ${classes} overflow-scroll no-scrollbar`
>
  <nav
    class="md:gap-2 md:p-7 p-2 md:px-7 px-6 border rounded-xl text-[23px] text-left"
  >
    <span class="text-gray-200 font-bold">Seções:</span>
    <ul class="list-disc ml-6">
      <li>
        <a
          href="#"
          class="text-gray-100 hover:text-gray-300 hover:underline mr-4"
        >
          Últimos posts
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-gray-100 hover:text-gray-300 hover:underline mr-4"
        >
          Mais acessados
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-gray-100 hover:text-gray-300 hover:underline mr-4"
        >
          Filtrar por categoria
        </a>
      </li>
    </ul>
  </nav>

  <div class="hidden lg:block mt-12">
    <AboutMeWidget marginTop="mt-15" classes="max-w-[425px] text-[16px]" />
  </div>
  <div class="lg:mt-12 mt-1 hidden lg:block">
    <DiscordServerBtn title="Entre no meu servidor no Discord!" classes="" />
  </div>
</aside>
<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
