<div class="mb-7">
  <hr class="text-white" />
  <div class="text-white md:text-[28px] text-[24px] text-center flex justify-center">
    <div class="md:px-12 px-8 border-white py-5">
      <a class="pb-7 hover:underline hover:font-semibold" href="/">Início</a>
    </div>
    <div class="border-l md:px-12 px-8 border-white py-5">
      <a class="pb-7 hover:underline hover:font-semibold" href="/blog/">Blog</a>
    </div>
    <div class="border-l md:px-12 px-8 border-white py-5">
      <a class="pb-7 hover:underline hover:font-semibold" href="/about/">Sobre</a>
    </div>
  </div>
  <hr class="text-white" />
</div>
