---
interface Props {
  title:string;
  anchorId:string;
  anchorText:string;
}
const { title,anchorId,anchorText } = Astro.props;
---
<>
    <h2 id=`${anchorId}`>{title}</h2>
    <hr class="mb-3"/>
</>